@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Todo App</h1>
    <div class="col-6 text-end">
        <a asp-controller="Todo" asp-action="Login" class="btn btn-primary" style="width:150px">
         
        </a>
    </div>
</div>
