@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Todo Cloud only holds the information absolutely necessary for using our services. The information Todo Cloud collects, and how that information is used, depends on how you use our services and how you manage your privacy controls. While Todo Cloud owns the Todo Cloud application’s code, databases, and all rights, you retain all rights to your data. Without your prior authorization,  we will not have access to the content you create.

    Todo Cloud uses third-party services and hosting partners who are also GDPR-compliant, such as AWS, Stripe, and Google. In such instances, we take essential security methods to guarantee that we comply with GDPR when sending and receiving data from third parties.

    Todo Cloud will never sell your personal data to any third party, and we will never share data with third parties without your permission.
</p>
<ddiv class="right">
    <a class="btn btn-primary" asp-area="" asp-controller="Todo" asp-action="Index">Back</a>
</ddiv>
